.logo-icon-shell {
  width: 100px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo-icon-scale {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-book-icon {
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-book-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}